<header style="margin-top:60px;">
  <div class="container px-5 my-3">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder" style="color: #463e2b;">Moje rezervacije</h1>
    </div>
  </div>
</header>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="row gx-5 justify-content-center text-dark">
        <div *ngIf ="rezervacije == null || rezervacije?.length == 0" class="py-5 my-5">
          <h3 class="animate__animated animate__bounceIn display-7 fw-bolder text-center text-white">
            Nemate rezervacija</h3>
          <button class="btn btn-outline-light text mt-2" routerLink="/rezervacija"><i class="bi bi-search"></i> Kreiraj rezervaciju</button>
        </div>
        <div *ngFor="let rezervacija of rezervacije; let i=index" class="animate__animated animate__bounceIn col-lg-6 col-xl-4 mb-4" style="text-align: left;">
          <div class="card h-100 mb-5 mb-xl-0">

            <div class="card-body p-5">
              <div class="small text-uppercase fw-bold text-muted text-center">Rezervacija na dan:<div>
                <div class="mb-3 text-center">
                  <span class="display-4 fw-bold text-dark" style="font-size:30px;">{{rezervacija.datumRezervacije}}</span>
                </div>
                <ul>
                  <li class="mb-2 text-dark text-center">
                    Usluga : {{rezervacija.nazivUsluge}}
                  </li>
                </ul>
              </div>
              </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
              <button class="btn btn-outline-dark flex-shrink-0"(click)="prikaziBrisanje(rezervacija)"  ><i  class="bi bi-trash" ></i> Otkaži rezervaciju</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--
          <div class="card" style="border: none">
            <div class="row g-0">
              <div class="col d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form>
                    <h3 class="display-6 fw-bolder">Pregled rezervacija</h3>
                    <div  *ngFor="let rezervacija of rezervacije;let i=index"class="animate__animated animate__fadeIn col mb-5">
                      <div   class="card h-100">
                        <div class="card-body p-3">
                          <div class="text-center">
                            <h5 >Rezervacija {{i+1}}</h5>
                            <p class="text-black">Broj osoba: {{rezervacija.brojOsoba}}</p>
                            <p class="text-black">Broj stolova: {{rezervacija.brojStolova}}</p>
                            <p class="text-black" > Prigoda : {{rezervacija.nazivPrigode}}</p>
                            <p class="text-black">Datum: {{rezervacija.datumRezerviranjaPomocni}}</p>
                            <p *ngIf="rezervacija.poruka==null" class="text-black">Poruka: nema poruke </p>
                            <p *ngIf="rezervacija.poruka!=null" class="text-black">Poruka: {{rezervacija.poruka}}</p>
                            <p class="text-black">Status rezervacije: {{rezervacija.nazivStatusa}}</p>
                            <button class="btn btn-dark flex-shrink-0"(click)="prikaziBrisanje(rezervacija)"  ><i  class="bi bi-trash" ></i> Otkaži rezervaciju</button>
                        </div>
                        </div>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  -->
    </div>

<!-- Modal za brisanje rezervacije-->
<div *ngIf="this.odabranaRezervacija!= null " class="animate__animated animate__fadeIn portfolio-modal modal" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="this.odabranaRezervacija = null"></button>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="modal-body">
              <!-- Project details-->
              <h3 class="text-uppercase">Rezervacija na dan </h3>
              <h4>{{odabranaRezervacija.datumRezervacije}}</h4>
              <p class="item-intro text-muted"></p>
              <p style="font-style: italic">Usluga: {{odabranaRezervacija.nazivUsluge}}</p>
              <p style="font-size: larger ">Da li ste sigurni da želite otkazati odabranu rezervaciju?</p>
              <button class="btn btn-danger  text-uppercase" (click)="brisanje(odabranaRezervacija)" >
                <i class="bi bi-trash"></i>
                Otkaži
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
