<header class="py-7 bg-image-full" style="margin-top: 50px;">
  <div class="text-center my-5">
    <div class="text-center" style="color: #463e2b;">
      <h1 class="display-4 fw-bolder">Korpa</h1>
      <p class="lead fw-normal mb-0">Sve stavke Vaše narudžbe</p>
    </div>
  </div>
</header>
<section *ngIf="narudzba!=null" class="animate__animated animate__fadeIn page-section py-5">
  <div *ngIf ="narudzba.cijena == 0" style="text-align: center" class="mt-5 py-5">
    <h3 class="display-7 fw-bolder text-center" style="color: #463e2b;" >Korpa je prazna</h3>
  </div>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let stavka of narudzba.stavke" class="animate__animated animate__fadeIn col mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{stavka.slika}}" alt="Nije učitana slika" />
          <!-- Product details-->
          <div class="card-body p-4" style="padding-bottom: 5px !important;">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{stavka.naziv}}</h5>
              <span class="text-muted">{{stavka.opis}}</span>
              <br/>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Količina</span>
              </div>
              <input type="number" class="form-control" min=1 [(ngModel)]="stavka.kolicina" (change)="novaKolicina(stavka)">
            </div>
            <div class="text-center"><a class="btn btn-outline-dark" (click)="ukloni(stavka)"><i class="bi bi-trash-fill"></i> Ukloni iz korpe</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf ="narudzba.cijena != 0" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="text-center">
      <div class="mb-2"><b>Cijena narudžbe: {{narudzba.cijena}}  KM</b></div>
      <button class="btn btn-outline-dark mt-auto mx-2" (click)="zakljuciNarudzbu = true; closeModal = false;">
        <i class="bi bi-check-circle-fill"></i>
        Zaključi narudžbu
      </button>
    </div>
  </div>
</section>


<div *ngIf="zakljuciNarudzbu" class="portfolio-modal modal" [ngClass]="animiraj()" id="portfolioModal" tabindex="-1" aria-labelledby="portfolioModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="zatvoriModal()"></button>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="modal-body">

              <h2 class="text-uppercase">Zaključi narudžbu</h2>

              <button class="btn btn-dark" (click)="posaljiNarudzbu()">
                <i class="bi bi-check-circle-fill"></i>
                Zaključi narudžbu
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="obavjestenje" class="portfolio-modal modal" [ngClass]="animirajObavjestenje()" id="portfolioModalResponse" tabindex="-1" aria-labelledby="portfolioModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog mt-2">
    <div class="modal-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="modal-body">

              <h2 class="text-uppercase">Obavještenje</h2>
              <p class="item-intro text-muted mb-2">Uspješno ste poslali narudžbu</p>
              <div class="text-center">
                <div class="mb-2"><b>{{this.obavjestenjeMessage}}</b></div>

                <button class="btn btn-outline-dark" (click)="zatvoriModalObavjestenje()">
                  <i class="bi bi-check-circle-fill"></i>
                  Ok
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
