<header>



  <!-- Background image -->
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.8);">
      <div class="container d-flex align-items-center justify-content-center text-center h-100">
        <div class="text-white">

        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5" style="background-color: #d7cdb6;">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://i.pinimg.com/564x/f6/e5/d8/f6e5d8a939d33f19f3e79e4f1203c465.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4" style="text-align: center; margin-top: 70px; color: #574e36;">
          <h4><strong>O nama</strong></h4>
          <p class="text-muted">
            Dobro došli u beauty salon MB. Nudimo vam tretmane ljepote i njege cijelog tijela.
            U našoj ponudi možete pronaći usluge njege tijela i lica, masaže, manikir i pedikir, uređivanje obrva i trepavica.
            Pored toga, u našem salonu možete pregledati proizvode za njegu kod kuće, te izvršiti narudžbu istih koja će biti dostavljena
            u najkraćem roku.
          </p>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
      <h4 class="mb-5"><strong>Tretmani ljepote i njega</strong></h4>

      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/564x/59/2a/9c/592a9ccd36953eedc5474a2455520bfe.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Njega tijela i lica</h5>
              <p class="card-text">
                Njega tijela predstavlja izuzetno bitan dio našeg života.
                Pružamo vrhunsku, posvećenu i profesionalnu uslugu čišćenja, njege i zaštite bilo kojeg dijela Vašeg tijela.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/564x/bc/7c/a0/bc7ca032c0846fdff5f69f440d023520.jpg" class="img-fluid">
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Masaže</h5>
              <p class="card-text">
                Oslobađanje od stresa i vraćanje tijela u blagodato stanje omogućava ne samo fizičku, već i psihičku relaksaciju.
                U našem salonu prirediti ćemo Vam nezaboravno iskustvo.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src="https://i.pinimg.com/564x/49/e2/84/49e284330e64db3b66f970ec10819ae2.jpg" class="img-fluid" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Manikir i pedikir</h5>
              <p class="card-text">
                Njegovane ruke i noge izuzetno su bitni za ostavljanje prvog dojma.
                Prepoustite njegu Vaših ruku i nogu - manikir i pedikir stručnim licima iz našeg salona i uvjerite se u kvalitet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Section: Content-->

    <hr class="my-5" />



  </div>
</main>
<!--Main layout-->
